*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 10pt;
    line-height: 2;
}

ul {
    list-style-type: none;
}


main {
    width: calc(100% - 4rem);
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 2rem 0;
}
